body {
  text-align: center;
  background: #f8e8a6;
  display: block;
  margin: 8px;
}
.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
a {
  cursor: pointer;
  text-decoration: none;
}

footer a {
  margin: 0 10px;
  color: greenyellow;
}
